---
title: My Ocean Sampling Day
layout: default
published: true
---



   
			 
<!-- Banner -->
	<section id="banner">
		<header>
			<h2>My Ocean Sampling Day: <em>Meer entdecken! Am 21. Juni 2016</em></h2>
			<a href="{{ site.baseurl }}/mitmachen" class="button">Mitmachen</a>
		</header>
	</section>
 
<!-- Highlights -->
	<section class="wrapper style1">
		<div class="container">
			<div class="row double">
				<section class="4u">
					<div class="box highlight">
                    <a href="{{ site.baseurl }}/projekt">
						<div  class="bg-image bg-project"></div>
                        </a>
						<h3>Projekt</h3>
						<p><a href="{{ site.baseurl }}/projekt" class="no-decoration">Warum wollen wir mehr über den Ozean wissen? MyOSD ist immer zur Sommer-Sonnenwende am 21. Juni - seit 2014.</a></p>
				</div>
				</section>
				<section class="4u">
					<div class="box highlight">
                        <a href="{{ site.baseurl }}/mitmachen">
                            <div  class="bg-image bg-participate"></div>
                        </a>
						<h3>Mitmachen</h3>
						<p><a href="{{ site.baseurl }}/mitmachen" class="no-decoration">Hier gibt es Details zur Aktion im Wissenschaftsjahr am 21. Juni 2016, zur OSD Citizen App und zur Registrierung.</a></p>
					</div>
				</section>
				<section class="4u">
					<div class="box highlight">
                        <a href="{{ site.baseurl }}/status">
                            <div  class="bg-image bg-status"></div>
                        </a>
						<h3>Status</h3>
						<p><a href="{{ site.baseurl }}/status" class="no-decoration">Was passiert gerade? Wo werden
Proben genommen? Welche Ergebnisse haben wir?</a></p>
					</div>
				</section>
			</div>
		</div>
	</section>

<!-- Gigantic Heading -->
	<section class="wrapper style2">
		<div class="container">
			<header class="major">
				<h2>Diese Seite ist noch im Aufbau... und geht am 26.04.2016 online</h2>
				<h2>Das Beste aus MyOSD und OSD 2014 und 2015</h2>
				<p></p>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/5vpKlkzusE8" frameborder="0" allowfullscreen></iframe>
			</header>
		</div>
	</section>


<!-- Gigantic Heading -->
	<section class="wrapper style1">
		<div class="container">
			<header class="major">
				<h2>Flyer, Plakat, Anleitungen und Pressematerial</h2>
				<p><a href="https://owncloud.mpi-bremen.de/index.php/s/WAPXUGf1ELlr3u5" <span class="label">Flyer & Plakat</span></a> Anleitungen Videos <a href="https://owncloud.mpi-bremen.de/index.php/s/nGkXwLEILpeyUQ1" <span class="label">Presse & Bilder</span></a></p>
                
			</header>
		</div>
	</section>
	
<!-- Gigantic Heading -->
	<section class="wrapper style2">
		<div class="container">
			<header class="major">
				<h2>Interesse, Fragen oder Anregungen?</h2>
				<p><a href="mailto:myosd-contact@microb3.eu"><i class="fa fa-envelope fa-fw"></i>&nbsp; Schreib uns </a>
				<a href="https://twitter.com/Micro_B3" class="icon fa-twitter"><span class="label">Twitter</span> Twitter </a>
                             	<a href="https://www.facebook.com/microb3osd" class="icon fa-facebook-square"><span class="label">Facebook</span> Facebook</a></p>
				<p>#myosd #oceansamplingday #citizenscience</p>
			</header>
		</div>
	</section>

<!-- Posts -->
	<section class="wrapper style1">
		<div class="container">
        <header class="major">
			<h2>Aktuelles</h2>
        </header>
            <div class="row">
            {% assign postCounter = 0 %}
            {% for post in site.posts %}
                {% if postCounter < 4 and post.published  %}
                {% assign postCounter = postCounter | plus: 1 %}
                <section class="6u">
                    <div class="box post">
                        {% if post.featured %}
                        <a href="{{ site.baseurl }}{{ post.url }}" class="image left">
                            <img src="{{ site.baseurl }}{{ post.featured }}" alt="">
                        </a>
                        {% endif%}
                        <div class="inner">
                            <h3>{{ post.title}}</h3>
                            <p>{{ post.excerpt}}</p>
                            <footer>
                                <a href="{{ site.baseurl }}{{ post.url }}" class="button">Weiter lesen</a>
                            </footer>
                        </div>
                    </div>
                </section>
                {% endif%}
            {% endfor %}
            </div>
        </div>
    </section>
