	<!-- Footer -->
	<div id="footer">
		<div class="container">
			<div class="row ">
                <div class="12u">
					<div class="row">
						<section class="2u">
							<!-- Icons -->
                            <div class="box" style="margin: 5px;">
                              <p>Besuch uns auf:
							<ul class="icons">
							<li><a href="https://twitter.com/Micro_B3" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                            <li><a href="https://www.youtube.com/channel/UCFrDqNblLC2qZoLIOuM0lnQ" class="icon fa-youtube"><span class="label">YouTube</span></a></li>
                              <li><a href="https://www.facebook.com/microb3osd" class="icon fa-facebook-square"><span class="label">Facebook</span></a></li>
                              <p><a href="mailto:myosd-contact@microb3.eu">Oder schreib uns einfach eine Mail :)</a></p>
                            <!--
                                <li><a href="#" class="icon fa-github"><span class="label">GitHub</span></a></li>
                                <li><a href="#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
                                <li><a href="#" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
                            -->
							</ul>
                            </div>
						</section>
                        <!-- logos -->
						<section class="10u" id="sponsor" style="background: #f7f7f7;">
                          
                            <img src="{{ site.baseurl }}/assets/images/bmbf-gef-logo.svg" class="logo"/>
                            <img src="{{ site.baseurl }}/assets/images/mpg-green-original.svg" class="logo" />
                            <img src="{{ site.baseurl }}/assets/images/jacobs-uni-transparent.png" class="logo"/>
                            <img src="{{ site.baseurl }}/assets/images/WJ2016_BMBF_4C.png" class="logo"/>
                            
						</section>
					</div>
				</div>
			</div>
		</div>
		<!-- Copyright -->
		<div class="copyright">
			<ul class="menu">
				<li>&copy; MyOSD. All rights reserved</li><li>Design by Renzo adapted from <a href="http://html5up.net">HTML5 UP</a></li>
			</ul>
		</div>
		<div class="copyright">
			<p>MyOSD 2016 ist ein Projekt im Wissenschatfsjahr 2016*17 - Meere und Ozeane.</p>
		</div>
	</div>

</body>
</html>
