	<!-- Footer -->
	<div id="footer">
		<div class="container">
			<div class="row ">
                <div class="6u">
					<div class="row collapse-at-2">
						<section class="6u">
							<!-- Icons -->
							<p>Besuch uns auf Twitter, YouTube und Facebook</p>
							<ul class="icons">
							<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                            <li><a href="https://www.youtube.com/channel/UCFrDqNblLC2qZoLIOuM0lnQ" class="icon fa-youtube"><span class="label">YouTube</span></a></li>
							<li><a href="#" class="icon fa-facebook-square"><span class="label">Facebook</span></a></li>
                            <!--
                                <li><a href="#" class="icon fa-github"><span class="label">GitHub</span></a></li>
                                <li><a href="#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
                                <li><a href="#" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
                            -->
							</ul>
						</section>
                        <!-- logos -->
						<section class="6u">
							
						</section>
					</div>
				</div>
			</div>
		</div>
		<!-- Copyright -->
		<div class="copyright">
			<ul class="menu">
				<li>&copy; MyOSD. All rights reserved</li><li>Design by Renzo adapted from <a href="http://html5up.net">HTML5 UP</a></li>
			</ul>
		</div>
		<div class="copyright">
			<p>Die MyOSD 2016 Kampagne ist ein Projekt des Wissenschatfsjahres 2016*17 - Meere und Ozeane. Förderkennzeichen:01WJ1604</p>
		</div>
	</div>

</body>
</html>