$color-bg:					#f7f7f7;
$color-fg:					#474747;
$color-fg-bold:				#4c4c4c;
$color-fg-light:			#999;
$color-accent-bg:			#37c0fb;
$color-accent-fg:			#fff;
$color-border:				#e0e0e0;

$color-wj-prime-orange:				#f07c22;
$color-wj-prime-orange-eighty: rgba(240, 124, 34, 0.8);
$color-wj-prime-blue:				#005377;
$color-wj-prime-blue-20:            rgba(0, 83,119, 0.2);
$color-wj-light-blue:				#0083aa;
$color-wj-dark-blue:				#002b46;
$color-wj-grey:					#36393A;

$size-radius:				5px; 