---
title: Aktuelles
layout: default
---

<!-- Main -->
	<section class="wrapper style1">
		<div class="container">
			<div id="content">
				<div class="row">
					<div class="12u">
						<!-- Blog -->
						<section>
							<header class="major">
								<h2>Aktuelle Meldungen</h2>
							</header>
                            {% assign pubs = (site.posts | where: "published","true") %}
							{% for post in pubs %}
								<div class="row">
									<section class="12u">
										<div class="box post">
                                            {% if post.featured %}
											<a href="{{ site.baseurl }}{{ post.url }}" class="image left">
                                                <img src="{{ site.baseurl }}{{ post.featured }}" alt="">
                                            </a>
                                            {% endif%}
											<div class="inner">
												<h3>{{ post.title }}</h3>
												{{ post.excerpt }}
												<footer>
													<a href="{{ site.baseurl }}{{ post.url }}" class="button">Weiter lesen</a>
												</footer>
											</div>
										</div>
									</section>
								</div>
							{% endfor %}
						</section>
					</div>
                </div>
			</div>
		</div>
	</section>
