{% include header.html %}
<!-- Main -->
	<section class="wrapper style1">
		<div class="container">
			<section>
				<header class="page">
					<h2>{{ page.title }}</h2>
				</header>
                <div class="row">
						<div class="8u -2u">
							<section class="box page">
								{% if page.featured  %}
								<a href="#" class="image left"><img src="{{ site.baseurl }}{{ page.featured }}" alt="" class="img-first" /></a>
								{% endif %}
								{{ content }}
							</section>
						</div>
					</div>
			</section>
		</div>
	</section>
{% include footer.html %}
